<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3><a href="https://github.com/ki5818/tptp"><i class="bi bi-github"></i>     HAN SOOL</a></h3>
      <p>Our project source is shared at the GitHub URL.</p>
      <div class="credits">
        
      </div>
      <div class="credits">
      	저작권 및 프로젝트 정보 <a href="#" id="popup">Information</a>
      </div>
    </div>
  </footer>
<!-- End Footer -->
 <script th:inline="javascript">
    	var popup = document.getElementById("popup");
    	popup.addEventListener('click', function() {
    		window.open("/information", "popup", "width=500, height=700");
		});
    </script>
</html>