<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" th:href="@{/}">Home</a></li>
        <li><a class="nav-link scrollto" th:href="@{/map}">Map</a></li>
        <li><a class="nav-link scrollto" th:href="@{/aboutUs}">About us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar --> 
  </header>
  <!-- End Header -->
</html>
