<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapping mybatis -->
<mapper namespace="com.tptp.mapper.ReviewMapper">
	<!-- reviewResultMap -->
	<resultMap type="Review" id="reviewResultMap"> <!-- ResultMap이 뭔지 잘 모르겠다. -->
		<id property="reviewId" column="review_id" />
		<result property="placeId" column="place_id" />
		<result property="contents" column="contents" />
		<result property="photo" column="photo" />
		<result property="password" column="password" />
		<result property="writeDate" column="write_date" />
		
		<!-- 조인할 테이블은 컬렉션 태그에 필요한 컬럼들만 가져오기 -->
		<collection property="tptp" javaType="Tptp">
			<id property="id" column="id"></id> <!-- tptp 테이블에 있는 id와 review에 있는 id -->
			<result property="place" column="place"/> <!-- tptp테이블에만 있는 place 컬럼 -->
		</collection>
		
		
	</resultMap>
	<!-- END reviewResultMap -->
	
	<select id="getReviewList" resultMap="reviewResultMap" resultType="Review">
		SELECT
			r.review_id,
			r.place_id,
			t.place,
			r.contents,
			r.photo,
			r.PASSWORD,
			r.write_date,
			SUBSTRING(r.write_date, 1, 16) AS `write_date`
		FROM tptp t
		INNER JOIN review r
		ON t.`id` = r.place_id
		ORDER BY r.write_date DESC;
		
	</select>
	<!-- 07-17 날짜 기준으로 내림차순 수정 -->
	
	<!-- 07-17 게시판 글쓰기  -->
	<insert id="addReviewList" parameterType="String">
		INSERT INTO review
				(
					review_id,
					place_id,
					contents,
					photo,
					password,
					write_date
				)
			values 
				(
					#{review_id},
					#{place_id},
					#{contents},
					#{photo},
					#{password},
					NOW()
				)
	</insert>		
	
</mapper>