<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultLayout}">
	  
<th:block layout:fragment="customContents">


	<!-- ======= Testimonials Section ======= -->
	  <section id="testimonials" class="testimonials"` href="#services">
	    <div class="container position-relative">
	
	      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
	        <div class="swiper-wrapper">
	
	          <div class="swiper-slide">
	            <div class="testimonial-item">
	              <img th:src="@{/assets/img/testimonials/testimonials-1.jpg}" class="testimonial-img" alt="">
	              <h3>Saul Goodman</h3>
	              <h4>Ceo &amp; Founder</h4>
	              <p>
	                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
	                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
	                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
	              </p>
	            </div>
	          </div><!-- End testimonial item -->
	
	          <div class="swiper-slide">
	            <div class="testimonial-item">
	              <img th:src="@{/assets/img/testimonials/testimonials-2.jpg}" class="testimonial-img" alt="">
	              <h3>Sara Wilsson</h3>
	              <h4>Designer</h4>
	              <p>
	                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
	                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
	                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
	              </p>
	            </div>
	          </div><!-- End testimonial item -->
	
	          <div class="swiper-slide">
	            <div class="testimonial-item">
	              <img th:src="@{/assets/img/testimonials/testimonials-3.jpg}" class="testimonial-img" alt="">
	              <h3>Jena Karlis</h3>
	              <h4>Store Owner</h4>
	              <p>
	                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
	                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
	                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
	              </p>
	            </div>
	          </div><!-- End testimonial item -->
	
	          <div class="swiper-slide">
	            <div class="testimonial-item">
	              <img th:src="@{/assets/img/testimonials/testimonials-4.jpg}" class="testimonial-img" alt="">
	              <h3>Matt Brandon</h3>
	              <h4>Freelancer</h4>
	              <p>
	                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
	                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
	                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
	              </p>
	            </div>
	          </div><!-- End testimonial item -->
			<!-- End testimonial item -->
	


<style>
 .character {
	  width:100%;
	  height: 100%;
	}
</style>

	<main id="main">
	    <!-- ======= Breadcrumbs ======= -->
	    <section class="breadcrumbs">
	      <div class="container">
	        <div class="d-flex justify-content-between align-items-center">
	          <h2>ABOUT US</h2>
	          <ol>
	            <li><a th:href="@{/}">HOME</a></li>
	            <li>ABOUT US</li>
	          </ol>

	        </div>
	      </div>
	    </section><!-- End Breadcrumbs -->
	        <!-- ======= ABOU US Section ======= -->
		    <section id="services" class="services">
		      <div class="container">
				<div class="section-title">
		       	<span>ABOUT US</span>
		       	<h2>ABOUT US</h2>
		       	<p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
		        </div>
		        <div class="row">
		          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
		            <div class="icon-box">
		              <div class="icon" ><img class="character" th:src="@{/assets/img/about/whr.png}" alt="우하림"></div>
		              <h4 class="title"><a href="">우하림</a></h4>
		              <p class="description">Voluptatum deleniti atque corrupti quos dolores </p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		              <p class="description">quas molestias excepturi sint occaecati cupiditate non provident</p>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
		            <div class="icon-box">
		              <div class="icon"><i class="bx bx-file"></i></div>
		              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
		              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
		            </div>
		          </div>
		
		          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
		            <div class="icon-box">
		              <div class="icon"><i class="bx bx-tachometer"></i></div>
		              <h4 class="title"><a href="">Magni Dolores</a></h4>
		              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		            </div>
		          </div>
		
		          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
		            <div class="icon-box">
		              <div class="icon"><i class="bx bx-world"></i></div>
		              <h4 class="title"><a href="">Nemo Enim</a></h4>
		              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
		            </div>
		          </div>
		
		        </div>
		        
		      </div>
		    </section><!-- End My Services Section -->
  		</main><!-- End #main -->
	</th:block>
</html>