	<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="customContents" >

	<style>
		#header {visibility:hidden; }
		#footer {visibility:hidden;}
		ul, li {
			list-style: none;
		}		

		.review_area{
			border-top: 1px solid #ccc;
		}
		
        #write_content{
			width: 100%;
			height: 80px;
			padding: 10px;
			box-sizing: border-box;
            resize: none;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}

        .area_card_item {
            border: 2px solid #ddd;
            padding: 20px 5px;
            margin-top: 15px;
        }
        

        .view_place_date {
			overflow: hidden;
		}
        
        
        .view_place_date li {
			float: left;
		}
		.badge bg-light text-dark p-2 p {
			display: inline-block;		
		}
		
		.review_write {
			padding-top: 15px;
		}
		
		.review_write p {
          cursor: pointer;  
          text-align: center;
        }
    </style>
	<main id="main">
	    <!-- ======= Breadcrumbs ======= -->
	    <section class="breadcrumbs" style="margin-top:0;">
	      <div class="container">
	        <div class="d-flex justify-content-between align-items-center">
	          <h2>BOARD</h2>
	          <ol>
	            <li><a th:href="@{/}">HOME</a></li>
	            <li>BOARD</li>
	          </ol>
	        </div> 
	      </div>
	    </section>
	    <!-- End Breadcrumbs -->
	   <section id="contact" class="contact">
	    <!-- Review  -->
         <div class="container">
            <div class="section-title">
		    	<span>BOARD</span>
		        <h2>BOARD</h2>
		        	<div th:if="${title}">
						<p><strong th:text="${title}"></strong>의 리뷰입니다.</p>
					</div>
					<div th:unless="${title}">
						<p>해당 장소는 등록된 리뷰가 없습니다.</p>
					</div>
		   	</div>
			<div class="review_area">
				<!--리뷰 작성 폼(addReview) -->
		           <form th:action="@{/reviewWrite}" method="post" class="php-email-form">
						<div class="review_area">
							<textarea name="contents" id="write_content" placeholder="리뷰를 입력해주세요" maxlength="100" style="width: 100%; height: 80px; border: 1px solid#ccc; box-sizing: border-box; overflow: hidden;"></textarea>
							<input type="hidden" name="placeId" th:value="${placeId}">
							<input type="password" name="password" placeholder="비밀번호" style="border: 1px solid #ccc">
							<input type="submit" class="write_submit" value="SUBMIT" style="background-color: #ffb727; border: none;">
						</div>
					</form>
				<div th:if="${not #lists.isEmpty(reviewList)}" th:each="r : ${reviewList}">
					<form th:action="@{/reviewModify}" method="post" name="modify" id="modify" class="php-email-form place_date form-group">
		                <ul class="area_card_item" >
		                    <li><p th:text = "${r.contents}" ></p></li>  
							<li class="view_place">
								<span>장소 : </span>
								<th:block th:object="${r.tptp}">
	                        		<span th:text="*{place}"></span>
						      	</th:block>
	                    	</li>
							<li class="view_date">
	                        	<span class=""> 작성일 :</span>
	                        	<span th:text="${r.writeDate}"></span>    
	                    	</li>
	               			<li>
								<div class="mod_del_button">
									<a role="button" class="btnModify" style="margin-right: 0;"  >수정</a>									
									<a role="button" href="#" class="btnDelete" style="margin-right: 0;">삭제</a>
									<span class="reviewId" th:text="${r.reviewId}" hidden></span>
								</div>
							</li>
						</ul>
					</form>
				</div>
            </div>
        </div>
    </section>
</main>

<script th:inline="javascript">
	console.log([[${msg}]]);
	if([[${msg}]]) {
		console.log("sss");
		var msg = [[${msg}]];
		alert(msg);
	}

	const reviewList = [[${reviewList}]];
	const placeId = reviewList[0].placeId;

	$(document).ready(function(){
		/*수정*/
		$('.btnModify').click(function () {
			console.log("수정버튼 클릭");
			var reviewId = $(this).next().next()[0].innerText;
			var result = confirm('이 리뷰글을 수정하시겠습니까?');
		
			if(result) {
				var insertPw = prompt('글을 작성하실 때 입력하신 비밀번호를 입력해주세요');
				console.log(insertPw);
				
				var form = document.createElement("form");
				form.setAttribute("charset", "UTF-8");
		        form.setAttribute("method", "Post");  //Post 방식
		        form.setAttribute("action", "/reviewModify"); //요청 보낼 주소
		        
		        var hiddenField = document.createElement("input");
		        hiddenField.setAttribute("type", "hidden");
		        hiddenField.setAttribute("name", "reviewId");
		        hiddenField.setAttribute("value", reviewId);
		        form.appendChild(hiddenField);
				
				hiddenField = document.createElement("input");
		        hiddenField.setAttribute("type", "hidden");
		        hiddenField.setAttribute("name", "insertPw");
		        hiddenField.setAttribute("value", insertPw);
		        form.appendChild(hiddenField);
		        
				hiddenField = document.createElement("input");
		        hiddenField.setAttribute("type", "hidden");
		        hiddenField.setAttribute("name", "placeId");
		        hiddenField.setAttribute("value", placeId);
		        form.appendChild(hiddenField);
		        
		        document.body.appendChild(form);
				form.submit();
	
	        }
	        else {
				return false;
			}
		});

		/*삭제*/
		$('.btnDelete').click(function () {
			//$(this).parents('tr').children().eq(3);
			console.log($(this).next()[0].innerText);
			var reviewId = $(this).next()[0].innerText;
			var result = confirm('이 리뷰글을 정말로 삭제하시겠습니까?');
			 
			if(result) {
	        	var insertPw = prompt('글을 작성하실 때 입력하신 비밀번호를 입력해주세요');
	        	var request = $.ajax({
                          url: "/reviewDelete",
                          type: "GET",
                          data: {"reviewId" : reviewId, "insertPw" : insertPw, "placeId" : placeId}
                  });
                  //성공
                  request.done(function(data){
					  if(data === "true") {
						 //삭제 성공시
						 var url = '/reviewPopup?placeId=' + placeId;
						//document.location.href = document.location.href;
                    	 window.open(url, "popup");
					  } else {
						  //삭제 실패시
						  alert('비밀번호가 다릅니다. 다시 입력해주세요');
					  }

                  });
                  //실패
                  request.fail(function(jqXHR, textStatus, viewList){
                     console.log('Request failed: ' + textStatus);
                  });
	        		
	        } else {
	            return false;
	        }
			
			});
			
			
	
	}); // window onload
	
</script>
</th:block>
</html>