	<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="customContents" >

	<style>
		ul, li {
			list-style: none;
		}		

		.review_area{
			border-top: 1px solid #ccc;
		}
		
        #write_content{
			width: 100%;
			height: 80px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px #1E90FF;
            resize: none;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}

        .area_card_item {
            border: 2px solid #ddd;
            padding: 20px 5px;
            margin-top: 15px;
        }
        

        .view_place_date {
			overflow: hidden;
		}
        
        
        .view_place_date li {
			float: left;
		}
		.badge bg-light text-dark p-2 p {
			display: inline-block;		
		}
		
		.review_write {
			padding-top: 15px;
		}
		
		.review_write p {
          cursor: pointer;  
          text-align: center;
        }
    </style>
	<main id="main">
	    <!-- ======= Breadcrumbs ======= -->
	    <section class="breadcrumbs">
	      <div class="container">
	        <div class="d-flex justify-content-between align-items-center">
	          <h2>BOARD</h2>
	          <ol>
	            <li><a th:href="@{/}">HOME</a></li>
	            <li>BOARD</li>
	          </ol>
	        </div>
	      </div>
	    </section>
	    <!-- End Breadcrumbs -->
	    
	    <!-- Review  -->
	    <section id="services" class="services">
         <div class="container">
            <div class="section-title">
		    	<span>BOARD</span>
		        <h2>BOARD</h2>
		        <!--0718 해야한다.  -->
		        <!-- 장소 넣어야 함  -->
        		<strong th:value="${place}"></strong><p>의 리뷰입니다.</p>
		   	</div>
		   	
			<div class="review_area">
				
			<!--리뷰 작성 폼(addReview) -->
            <form th:action="@{/reviewWrite}" method="post">
				<div class="review_write">
					<textarea name="contents" id="write_content" placeholder="리뷰를 입력해주세요" maxlength="100" style="width: 100%; height: 80px; box-sizing: border-box; overflow: hidden;"></textarea>
					<input type="text" name="placeId" th:value="${placeId}" hidden>
					<input type="password" name="password" placeholder="비밀번호">
					<input type="submit" class="write_submit" value="입력하기">
					
				</div>
			</form>
			<hr>
                <ul class="area_card_item" th:if="${not #lists.isEmpty(reviewList)}" th:each="r : ${reviewList}">
                    <li>
						<textarea class="contents_mod" th:text = "${r.contents}" maxlength="100" style="width: 100%; height: 80px; box-sizing: border-box; overflow: hidden;" disabled></textarea>
							
					</li>  
					<div class="place_date">
						<li class="view_place">
							<span>장소 : </span>
								<th:block th:object="${r.tptp}">
                        		<span th:text="*{place}"></span>
					      	</th:block>
                    	</li> 
                    	<li class="view_reviewId" hidden>
							<span>아이디 : </span>
                        		<span class="reviewId" th:text="${r.reviewId}"></span>
                    	</li> 
						<li class="view_date">
                        	<span class=""> 작성일 :</span>
                        	<span th:text="${r.writeDate}"></span>    
                    	</li>
               			
               			<li>
							<div class="mod_del_button">
								<a role="button"  href="#" class="btnModify" style="margin-right: 0;"  >수정</a>
								<a role="button" href="#" class="btnDelete" style="margin-right: 0;"  >삭제</a>
								<span class="reviewId" th:text="${r.reviewId}"></span>
							</div>	   
						</li>
					</div>
				</ul>
				    <span th:unless="${not #lists.isEmpty(reviewList)}">해당 장소는 작성된 리뷰가 없습니다.</span>
            </div>
            
        </div>
    </div>
    </section>
	</main>

<script th:inline="javascript">
	const reviewList = [[${reviewList}]];
	console.log(reviewList);
	const placeId = reviewList[0].placeId;
		console.log(placeId);
	console.log(reviewList);

	$(document).ready(function(){
		$('.btnDelete').click(function () {
			//$(this).parents('tr').children().eq(3);
			console.log($(this).next()[0].innerText);
			var reviewId = $(this).next()[0].innerText;
			var result = confirm('이 리뷰글을 정말로 삭제하시겠습니까?');
			 
			if(result) {
	        	var insertPw = prompt('글을 작성하실 때 입력하신 비밀번호를 입력해주세요');
	        	var request = $.ajax({
                          url: "/reviewDelete",
                          type: "GET",
                          data: {"reviewId" : reviewId, "insertPw" : insertPw, "placeId" : placeId}
                  });
                  //성공
                  request.done(function(data){
					  if(data === "true") {
						 //삭제 성공시
						 var url = '/reviewPopup?placeId=' + placeId;
						//document.location.href = document.location.href;
                    	 window.open(url, "popup");
					  } else {
						  //삭제 실패시
						  alert('비밀번호가 다릅니다. 다시 입력해주세요');
					  }

                  });
                  //실패
                  request.fail(function(jqXHR, textStatus, viewList){
                     console.log('Request failed: ' + textStatus);
                  });
	        		
	        } else {
	            return false;
	        }
			
			});
	});
	
</script>
</th:block>
</html>